body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff5f8;
}

header {
    background-color: #e91e63;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #c2185b;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.banner {
    background-color: #fce4ec;
    text-align: center;
    padding: 40px;
}

.banner h2 {
    color: #c2185b;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px;
}

.product {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.product img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.product h3 {
    color: #e91e63;
}

.product p {
    font-size: 14px;
}

.price {
    display: block;
    font-size: 18px;
    color: #c2185b;
    font-weight: bold;
    margin: 10px 0;
}

button {
    background-color: #e91e63;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #c2185b;
}

footer {
    background-color: #880e4f;
    color: white;
    text-align: center;
    padding: 20px;
  }
